  /*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Open+Sans|Raleway|Reem+Kufi|Russo+One');

* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}


section:not(.hero):not(.footer) {
    overflow-x:hidden;
    background-color: #f6f7eb;
    color: #8B181D;
    padding: 0px 0px 25px;
}

h1 {
  margin-bottom: 30px;
}

.intro-title {
    font-family: 'Kenyan', cursive;
    font-size: 500%;
}

.title {
    font-family: 'Kenyan', cursive;
    font-size: 400%;
}

section:not(#faq) p {
    color: #084259;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.6em;
    letter-spacing: -.3px;
}

.texture-background {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/16/63/0358257bd48f668.jpg");
}

.navbar .navbar-brand{
  padding-top:0px;
  color: #FFFFFF;
}

.top-nav-collapse .navbar-nav > .active > a,
.top-nav-collapse .navbar-nav > .active > a:hover,
.top-nav-collapse .navbar-nav > .active > a:focus {
    background-color: #000000;
}

.top-nav-collapse a:hover {
  color: #F05F40 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-default .navbar-nav > li > a {
    font-family:'Raleway';
    font-weight: 200;
    font-size: 18px;
}

div.collapse.navbar-collapse.navbar-ex1-collapse{
    margin-right: 100px;
}

.navbar.top-nav-collapse {
  background-color:black;
}


/*
* Hero Section
*/

.hero::before{
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("../images/background.png");
    background-size:cover;
    width: 110%;
    height: 110%;

}


.hero {
    min-height: 110vh;
    color: #fff;
    z-index: 0;
    overflow: auto;
}

.hero img {
    max-width: 50%;
    height: auto;
}

.hero hr {
    border-top: 15px solid #084259;
    margin: 0;
    position: relative;
    top: -14px;
}

.hero .wrapper {
    width:auto;
    background-color: rgba(77, 82, 87, 0.3);
    border-radius: 10px;
    padding: 15px 25px 0px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 20px;
}

.hero .wrapper h2 {
    font-size: auto;
    font-weight: 200;
    padding-bottom: 35px;
}

.hero .wrapper .datetitle {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 5px;
}

.hero .welcome-buttons {
    width: auto;
    clear: none;
    background: none;
    border: medium solid #fff;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
}

.hero .welcome-buttons:hover,
.hero .welcome-buttons:focus {
    background-color: #656565;
    transition: all 0.2s ease;
}

.hero .welcome-buttons:not(:last-child) {
    margin-right: 10px;
}

/*
* About Section
*/

#about {
    border-width: 15px 0;
    background-color: #f6f7eb;
    padding: 40px 0px 40px;
    position: relative;
    border-top: 20px solid #8B181D;
    border-bottom: 20px solid #8B181D;
}

.carousel-inner {
    border-radius: 20px 0px 20px 0px;
    border: 4px solid #8B181D;
}

#games .game-logo {
  max-width: 150px;
}

#tickets .btn,
#logistics .btn
{
  min-height: 100px;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
}

@media(max-width: 414px) {
  font-size: 20px;
}

#patrons .community-partners img {
  max-width: 400px;
}

#patrons .community-partners .row {
  padding-bottom: 20px;
}

#patrons .col-xs-12,
#patrons .col-md-6 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

#patrons .charity img {
  max-height: 250px;
}

#patrons .logo-carleton {
  max-width: 350px !important;
}

#patrons .logo-algonquin {
  max-width: 300px !important;
}

/*
* FAQ Section
*/

.faq {
    background-color: #f6f7eb;
    color: #8B181D;
    padding: 50px 0px 50px;
}

.faq a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.faq a:hover{
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.faq h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 30px 0;
}

.faq .question h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    color:#084259;
}

.faq .question hr {
    border-top: 8px solid #084259;
    margin: 20px 0;
    width: 80px;
}

.faq .question p {
    font-size: 18px;
    line-height: 1.5em;
}

.faq img {
    margin-bottom: -2px;
    margin-top: 40px;
    width: 300px;
}

/*
* ACCORDIAN
*/
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.accordion-section-title {
    color: #000;
    width: 100%;
    padding: 10px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 1.400em;
}

a.accordion-section-title:hover, a.accordion-section-title.active {
    background: #eeb038;
    color: #FFF;
    text-shadow: none;
}

.accordion-section-content {
    padding: 15px;
    display: none;
    color: #000;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-section-content a {
    color: #2867b0;
}

/*
* Footer Section
*/

.footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
}

.footer img {
    max-width: 250px;
    margin-bottom: 15px;
}

.footer h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.footer h3 a {
    color: #ffffff;
}

@media(max-width: 414px) {

    #mlh-trust-badge {
        right: 65px;
    }

    .hero img {
        max-width: 250px;
        height: auto;
        width: auto;
    }

    .hero .wrapper {
        width: auto;
        max-width: 310px;
        padding: auto;
        margin: auto;
    }

    .hero .welcome-buttons {
        font-size: 3.5vw;
    }

    .hero .wrapper .datetitle {
        font-size: auto;
    }

    .sponsors .welcome-buttons {
        font-size: 3.5vw;
    }

    a.accordion-section-title {
        text-align: center;
    }

    i.fa::before{
        color: black;
    }

}

@media(max-width: 320px) {
    body{
        margin-top: 150px;
    }

    .hero .wrapper {
        margin-top: 100px;
    }

    i.fa::before{
        color: black;
    }

    .team h2, .team h3{
        font-size: 5vw;
        margin-top: 0px;
    }
}
