---
layout: default
---
<!--
Pew Pew
-->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                <img src="images/logo.png" height="50" alt="">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">ABOUT</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#games">GAMES</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#tickets">TICKETS</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#logistics">LOGISTICS</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#patrons">PATRONS</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#faq">FAQ</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="https://www.facebook.com/battleroyaleottawa/">
                    <i class="fab fa-facebook-square fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
                <li>
                  <a href="http://discord.battleroyale.ca/">
                    <i class="fab fa-discord fa-lg" aria-hidden="true" style="color:white;"></i>
                  </a>
                </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

<section class="hero">
</section>

<section id="about" class="texture-background">
  <div class="container">
    <h1 class="text-center intro-title">
      Welcome to Ottawa's LARGEST 24-hour gaming competition!
    </h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 intro-text">
        <p class="intro-text">From intense gaming, to extraordinary prizes and unbeatable bragging rights, Battle Royale has it all.</p>
        <p class="intro-text">Every year, over 100 competitors bring their best to Ottawa's largest 24-hour gaming event, for a chance to win incredible prizes!</p>
        <p class="intro-text">If you think you have what it takes to rise to the top or simply want to have a good time, Battle Royale is for you.</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="promo" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="images/slideshow/1.jpg">
            </div>
            {% for i in (2..40) %}
            <div class="item">
              <img src="images/slideshow/{{ i }}.jpg">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="games">
  <div class="container">
    <h1 class="text-center title">
      Games &amp; Prizes
    </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <img class="img-responsive center-block game-logo" src="images/games/csgo.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive center-block game-logo" src="images/games/rocketleague.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive center-block game-logo" src="images/games/lol.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive center-block game-logo" src="images/games/hearthstone.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive center-block game-logo" src="images/games/overwatch.png">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="subheading">GAMES</p>
        <p>Every year, Battle Royale has been one of the most epic gaming competitions in Ottawa, with legendary prizes and intense games. And this year is no exception.</p>
        <p>Battle Royale XII will feature the five most popular games of 2017, with each game featuring its own tournament and special prizes! Tournaments will take place at different times during the day &amp; night!</p>
        <p class="subheading">PRIZES</p>
        <p>This year's prize pools can be seen on the eventbrite page! Click the "Tickets" button below to view all the details regarding the prizes!</p>
      </div>
      <div class="col-xs-12">
      	<br><br>
        <p><b>IMPORTANT:</b> This year, CS:GO will be a major tournament. Tickets for major tournaments will cost $5 more, but prizes will increase substantially in value and the competition and intensity will be more epic.<p>
      </div>
      <div class="col-xs-12">
        <p style="margin-bottom: 0px;"><i>Looking for a team?</i> Join our <a href="http://discord.battleroyale.ca">discord server</a> and let people know what game you're playing in #team-formation!<p>
      </div>
    </div>
  </div>
</section>

<section id ="tickets">
  <div class="container">
    <h1 class="text-center title">
      Tickets
    </h1>
    <div class="row">
      <div class="col-xs-12">
        <p>
          Regular tickets for minor tickets will cost $35, while major tickets will be $40. If you're an IEEE member you will recieve a $5 discount just be sure to provide proof of membership! For more information as well as prize pools please press the "Purchase Ticket" button below which will bring you to our eventbrite page.
        </p>
      </div>
      <div class="col-xs-12">
        <a href="https://www.eventbrite.ca/e/battle-royale-xi-tickets-43717137134" class="btn btn-primary btn-large btn-block">
          Purchase Ticket
        </a>
      </div>
    </div>
  </div>
</section>

<section id="logistics">
  <div class="container">
    <h1 class="text-center title">
      Logistics
    </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12"><p><b>Dates:</b> March 30th to March 31st</p></div>
          <div class="col-xs-12"><p><b>Times:</b> 10AM Saturday to 10AM Sunday</p></div>
          <div class="col-xs-12"><p><b>Venue:</b> Algonquin College</p></div>
          <div class="col-xs-12"><p><b>Room:</b> T Building Room 102</p></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>
              Please be sure to bring a signed copy of the <a href="waiver.pdf">waiver</a> to registration. THIS IS EXTREMELY IMPORTANT!
            </p>
            <p style="margin-bottom: 0px;">
              Snacks will also be offered at the event for a small cost. IEEE members will get access to one free snack &amp; drink when an IEEE member number is presented!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1402.0174501043966!2d-75.75440220121608!3d45.34810775616891!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7499a12391670e95!2sAlgonquin+College+School+of+Advanced+Technology+Centre!5e0!3m2!1sen!2sca!4v1392089273017" width="100%" height="400vh" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="col-xs-12">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScYodFiCLSh3nD5dJxCmhrAHuVgb_00DRjpLwLsZ_EzH1QhcA/viewform" class="btn btn-primary btn-large btn-block">
            Volunteer
        </a>
      </div>
        <div class="col-xs-12">
            <h1 class="text-center title">
              Schedule
            </h1>
            <p class="text-center subheading">Coming Soon</p>
            <!-- <img class="center-block img-responsive" style="max-width:800px;" src="images/schedule.png" /> -->
        </div>
    </div>
  </div>
</section>

<section id ="patrons">
  <div class="container">
<!--     <h1 class="text-center">
      Patrons
    </h1>
    <div class="patrons">
    </div> -->
    <h1 class="text-center title">
      Community Partners
    </h1>
    <div class="community-partners">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img class="img-responsive center-block logo-ieee-ottawa" src="images/partners/ieee.png">
        </div>
        <div class="col-xs-12 col-sm-6">
          <img class="img-responsive center-block logo-ieee-uottawa" src="images/partners/uottawa.png">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img class="img-responsive center-block logo-algonquin" src="images/partners/algonquin.png">
        </div>
        <div class="col-xs-12 col-sm-6">
          <img class="img-responsive center-block logo-carleton" src="images/partners/carleton.png">
        </div>
      </div>
    </div>
    <h1 class="text-center title" style="margin: 20px 0px 5px;">
      Charity
    </h1>
    <div class="charity">
      <div class="col-xs-12">
        <img class="img-responsive center-block" src="images/partners/cheo.png">
      </div>
    </div>
  </div>
</section>

<section id ="faq">
  <div class="container">
    <h1 class="text-center title">
        Frequently Asked Questions
    </h1>
    <div class="row">
      <div class="col-xs-12 col-md-6">
          {% for item in site.event.faq_left %}
          <div class="accordion faq-left">
              <div class="accordion-section">
                  <a class="accordion-section-title faq-title-left" href="#accordion-left-{{ forloop.index }}">{{ item.question }}</a>
                  <div id="accordion-left-{{ forloop.index }}" class="accordion-section-content faq-content-left">
                      <p>{{ item.answer | markdownify }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <div class="col-xs-12 col-md-6">
          {% for item in site.event.faq_right %}
          <div class="accordion">
              <div class="accordion-section">
                  <a class="accordion-section-title faq-title-right" href="#accordion-right-{{ forloop.index }}">{{ item.question }}</a>
                  <div id="accordion-right-{{ forloop.index }}" class="accordion-section-content faq-content-right">
                      <p>{{ item.answer | markdownify }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
</section>


</body>
